# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
.worktrees
logs

repo
versions.properties
/Compukter-Craft.code-workspace
/.kotlin/
.architectury-transformer/
