# eclipse
bin
!modules/v1_21_1/v1_21_1-neoforge/src/main/resources/rom/bin/
!modules/v1_21_1/v1_21_1-neoforge/src/main/resources/rom/bin/*.ck
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.gradle-sandbox

# other
eclipse
run
runs
run-data
.worktrees
logs

repo
versions.properties
/Compukter-Craft.code-workspace
/.kotlin/
/build-scripts/.kotlin/
.architectury-transformer/
