[submodule "toolchains/Compukter-Kraft-llvm"]
	path = toolchains/Compukter-Kraft-llvm
	url = git@github.com:CertifiedBadIdeas/Compukter-Kraft-llvm.git
	branch = k16
[submodule "toolchains/Compukter-Kraft-rust"]
	path = toolchains/Compukter-Kraft-rust
	url = git@github.com:CertifiedBadIdeas/Compukter-Kraft-rust.git
	branch = k16
[submodule "vendor/ui-dsl"]
	path = vendor/ui-dsl
	url = https://github.com/CertifiedBadIdeas/ui-dsl
